{% extends 'base.html.twig' %}

{% block title %}
Úvod
{% endblock %}

{% block body %}
    <body class="home">
    <div id="progressBar"></div>
    <header>
        <a href="{{ path('homepage') }}"><img id="logo" src="{{ asset('pic/logo.svg') }}" alt="logo"></a>
        <a href="#" class="closeBtn" id="closeBtn">&times;</a>
        <a id="menuIcon"><img src="{{ asset('pic/images/menu_icon.svg') }}" alt="menuIcon"></a>
        <nav id="menu">
            <ul>
                <li><a href="{{ path('homepage') }}">Studio</a></li>
                <li><a href="{{ path('sluzby') }}">Co a jak tvoříme</a></li>
                <li><a href="{{ path('projekty') }}">Naše tvorba</a></li>
                <li><a href="{{ path('blog') }}">Píšeme blog</a></li>
                <li><a href="{{ path('kontakt') }}">Kontakt</a></li>
            </ul>
        </nav>
    </header>
    <div id="main">
        <div class="leftG">
            <h1>Brandingové a webové studio</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus enim erat, vestibulum vel, aliquam a,
                posuere
                eu, velit. In convallis. Etiam dictum tincidunt diam. In dapibus augue non sapien. Ut enim ad minim veniam,
                quis
                nostrud exercitation.</p>
            <p>studio@wwwebfix.cz</p>
        </div>
    </div>

    </body>
{% endblock %}

{% block stylesheets %}

{% endblock %}
