{% extends 'base.html.twig' %}

{% block body %}
    <body class="references">
    <div id="headerHolder">
        {% include 'web/header/header.html.twig' %}
    </div>
    <div id="projects">
        {% for project in projects %}
            <div class="project">
                <a href="{{ path('projekt', {'url': project.url }) }}"><img class="bg"
                                                                            src="{{ vich_uploader_asset(project, 'imageFile') }}"
                                                                            alt="{{ project.title }}"></a>
                <div class="overlay">
                    <h2>{{ project.title }}</h2>
                    <p>Detail projektu</p>
                    <a href="{{ path('projekt', {'url': project.url }) }}"><img class="lupa"
                                                                                src="pic/images/lupa_icon.png"
                                                                                alt="lupa"></a>
                </div>
            </div>
        {% endfor %}
    </div>
    </body>
{% endblock %}

{% block title %}
    Reference
{% endblock %}
