{% extends 'base.html.twig' %}

{% block title %}
    {{ project.title }}
{% endblock %}

{% block body %}
    <body class="detail">
    <div id="headerHolder">
        {% include 'web/header/header.html.twig' %}
    </div>
    <div id="main">
        <h1><a href="{{ path('projekt', {'url': project.url }) }}">{{ project.title }}</a></h1>
        <p>{{ project.updatedAt|date("d.m.Y") }} | Autor: {{ project.author }}</p>
        <article>
           {{ project.content|raw }}
        </article>
    </div>
    <div class="buttons">
        <div class="button" id="share">
            <a href="http://www.facebook.com/sharer.php?u=https://webfix.cz{{ path('projekt', {'url': project.url }) }}" target="_blank">
                <p>HODIT TO DO ÉTERU</p>
                <img src="{{ asset('/pic/images/fb_Icon.svg')}}" alt="fbIcon">
            </a>
        </div>
        <div class="button" id="back">
            <a href="{{ path('projekty') }}">
                <p>MRKNOUT NA JINČÍ</p>
                <img src="{{ asset('/pic/images/chevron_Icon.svg') }}" alt="arrowIcon">
            </a>
        </div>
    </div>
    <div id="holder">
        <div id="articlePic" style="background-image: url('{{ vich_uploader_asset(project, 'imageFile') }}')">
            <img id="stripe" src="{{ asset('/pic/images/whiteStripe.png') }}" alt="stripe">
        </div>
    </div>
    </body>
{% endblock %}

