/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background-color: rgb(251, 251, 251);
    font-family: 'Ubuntu', sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.services .item {
    width: 28%;
    padding: 2%;
    display: inline-block;
    border-bottom: 3px solid #FFF;
}

.services .item h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: rgb(0, 170, 233);
    font-size: 24pt;
    margin: 0;
}

.services .item p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: black;
    margin: 1em 0;
}

.services .item a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: rgb(109, 110, 113);
    text-decoration: none;
}

.services #services {
    max-width: 1170px;
    margin: 0 auto;
}

/*media queries services */

@media screen and (max-width: 1250px) {
    body.services {
        width: 100%;
        box-sizing: border-box;
    }

}

@media screen and (max-width: 845px) {
    #menu.active {
        width: 65%;
    }

    #services {
        width: 90%;
        margin: 0 auto;
    }

    .services .item {
        width: 47%;
        padding: 1%;
    }
}

@media screen and (max-width: 535px) {
    #services {
        width: 90%;
        margin: 0 auto;
    }

    .services .item {
        width: 98%;
        padding: 3% 1%;
    }
}

@media screen and (max-width: 450px) {
    #menu.active {
        width: 100%;
    }

    .services ul li {
        width: 100%;
        box-sizing: border-box;
    }

}

/* galerie */

.references #projects {
    display: table;
    width: 90%;
    margin: auto;
}

.references .project {
    float: left;
    width: 32%;
    max-height: 425px;
    display: inline-block;
    margin: 1px 2px;
    position: relative;
}

.references .project img {
    transition: 0.3s all;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.references .project .overlay {
    transition: 0.3s all;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80%;
    background: rgba(255, 255, 255, 0.7);
    color: #fff;
    opacity: 0;
    padding: 10%;
    visibility: hidden;
}

.references .project:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.references .project:focus .overlay {
    opacity: 1;
    visibility: visible;
}

.references .project:focus .bg {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.references .project .overlay h2 {
    padding-top: 20%;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 30pt;
    color: rgb(133, 133, 133);
}

.references .project .overlay p {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-size: 12pt;
    color: black;
    padding: 15px 3px;
}

.references .project .overlay .lupa {
    width: 23px;
    padding: 0 3px;
}

@media screen and (max-width: 1250px) {
    .references .project .overlay {
        padding: 5% 0 5% 10%;
        width: 90%;
    }

    .references .project .overlay h2 {
        font-size: 20pt;
        padding-top: 15%;
    }
}

@media screen and (max-width: 845px) {
    .references .project {
        width: 47%;
        margin: 1%;
    }
}

@media screen and (max-width: 535px) {
    #projects {
        width: 90%;
        margin: 0 auto;
    }

    .references .project {
        width: 98%;
        margin: 1%;
    }

    .references .project .overlay {
        padding: 10% 5% 5% 10%;
        width: 85%;
    }

    .references .project .overlay h2 {
        font-size: 25pt;
        padding-top: 13%;
    }
}

/*piseme blog*/

.blog .article {
    margin: 2% auto;
    width: 100%;
    max-width: 1170px;
    display: table;
    position: relative;
}

.blog .article article {
    float: left;
    max-width: 45%;
    margin: 5% 0 0 0;
}

.blog .article h1 {
    font-family: "Ubuntu", sans-serif;
    font-size: 35pt;
    font-weight: 300;
}

.blog .article h1 a {
    color: rgb(65, 64, 66);
}

.blog .article p {
    font-family: "Ubuntu", sans-serif;
    font-size: 16pt;
    font-weight: 300;
    position: absolute;
    bottom: 50px;
}

.blog .article .articlePic {
    float: right;
    width: 48%;
    height: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blog .separator {
    height: 3px;
    width: 95%;
    margin: 0 auto;
    background-color: #FFF;
}

@media screen and (max-width: 1250px) {
    body.blog {
        width: 100%;
        box-sizing: border-box;
    }

    .blog .article h1 {
        font-size: 30pt;
    }

    .blog .article {
        margin: 3%;
        width: 94%;
    }
}

@media screen and (max-width: 845px) {
    .blog .article h1 {
        font-size: 20pt;
    }

    .blog .article .articlePic {
        height: 200px;
    }
}

@media screen and (max-width: 450px) {
    .blog .article .articlePic {
        float: none;
        width: 100%;
        margin: 0 auto;
        max-width: none;
    }

    .blog .article article {
        float: none;
        width: 100%;
        margin: 0;
        max-width: none;
    }

    .blog .separator {
        height: 1px;
        width: 95%;
        margin: 0 auto;
        background-color: #666666;
    }

    .blog .article article p {
        position: static;
        padding-top: 10%;
    }

    .blog .article article h1 {
        padding-top: 10%;
    }
}

/*detail blogu*/
.buttons {
    max-width: 1170px;
    width: 100%;
    margin: auto;
    position: relative;
}

.detail #main {
    width: 100%;
    display: block;
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    max-width: 1170px;
    margin: auto;
}

.detail #holder {
    width: 50%;
    float: left;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
}

.detail #articlePic {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
}

.detail #stripe {
    position: absolute;
    height: 100%;
    left: 0;
}

.detail #main p, .detail h2, .detail h1 {
    width: 46%;
    margin: 2% 0;
}
.detail #main article{
    line-height: 1.6;
}

.detail #main h1 a {
    font-size: 35pt;
    color: #00aae9;
    text-decoration: underline;
}

.detail #main h2 {
    font-weight: 400;
    font-size: 15pt;
}

.detail .button a {
    text-decoration: none;
    color: #1E1E1E;
}

.detail .button {
    border: 2px solid #FFF;
    margin: 10vh 20px 30px 20px;
    border-radius: 45px;
    position: absolute;
    z-index: 1;
    width: 205px;
    background: rgba(251, 251, 251, 0.8);
    transition: 0.5s;
}
.detail .button:hover{
    border: 2px solid #00aae9;
    background: rgba(12,12,12, 0.8);
}
.detail .button:hover p{
    color: #f1f1f1;
}
.detail .button:focus{
    border: 2px solid #00aae9;
    background: rgba(12,12,12, 0.8);
}
.detail .button:focus p{
    color: #f1f1f1;
}

.detail #share {
    float: left;
    left: 0;
}

.detail #back {
    float: right;
    right: 0;
}

.detail .button img {
    width: 24px;
    margin: 8px 5px 8px 5px;
    float: right;
}

.detail .button p {
    float: left;
    margin: 13px 0px 11px 20px;
    font-weight: 300;
    color: #1b1b1e;
    width: 151px;
}

.detail .button a {
    display: inline-block;
}

.detail header {
    position: sticky;
    z-index: 1;
}

@media screen and (max-width: 1250px) {
    .detail #main h1 a {
        font-size: 25pt;
    }

    .detail #main p, .detail h2, .detail h1 {
        margin: 1.5% 20px;
    }
}

@media screen and (max-width: 845px) {

    .detail #main h1 a {
        font-size: 20pt;
    }
}

@media screen and (max-width: 700px) {
    .detail #holder {
        position: static;
        margin: 2% 2%;
        height: 300px;
        width: 96%;
    }

    .detail #stripe {
        visibility: hidden;
    }

    .detail #main p, .detail h2, .detail h1 {
        width: 94%;
        margin: 3%;
    }

    .detail .button {
        border: 2px solid #575757;
        position: static;
        margin: 0 20px;
    }
}

@media screen and (max-width: 530px) {
    .detail #share, .detail #back {
        display: block;
        margin: 15px auto;
        float: none;
        width: 100%;
        max-width: 205px;
    }
}

/*STYLE MENU*/
#progressBar {
    height: 3px;
    background: linear-gradient(to right, rgb(0, 170, 233), rgb(0, 113, 188));
    animation: load 1s;
}
.home #progressBar {
    position: relative;
    z-index: 3;
}
#headerHolder{
    width: 100%;
    position: relative;
    z-index: 1;
}

@keyframes load {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

#menuIcon img {
    width: 40px;
}

#header .closeBtn {
    visibility: hidden;
}

#header:after {
    content: "";
    clear: both;
    display: table;
}

#header #logo {
    width: 20%;
    margin: 2% 0;
    display: inline-block;
    float: left;
}

#header a {
    text-decoration: none;
    color: rgb(0, 170, 233);
}

#header #menuIcon {
    margin: 3%;
    float: right;
}

#header nav {
    float: right;
    width: 0;
    height: 40px;
    transition: 0.5s;
    margin: 2%;
    overflow: hidden;
    position: relative;
}

#header ul {
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    margin-top: 12px;
}

#header ul li {
    margin: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
    display: inline-flex;
    font-weight: 300;
    float: left;
}

#header #menu.active {
    width: 590px;
}

#header {
    width: 90%;
    margin: 0 auto;
    display: table;
    max-width: 1170px;
}

@media screen and (max-width: 1250px) {
    .services body, .references body, .blog body, .detail body {
        width: 100%;
        box-sizing: border-box;
    }

    #header ul li {
        margin: 15px 12px;
    }
    #header ul{
        margin-top: 6px;
    }

    #header {
        width: 94%;
        margin: 0 3%;
    }

    #header #menu.active {
        width: 510px;
    }
}

@media screen and (max-width: 845px) {
    #header #menu.active {
        width: 65%;
        overflow: scroll;
    }

    #header a {
        text-decoration: none;
        color: rgb(251, 251, 251);
    }

    #header {
        width: 100%;
        margin: 0;
    }

    #header #logo {
        margin: 25px;
        min-width: 150px;
    }

    #header nav {
        height: 100%;
        width: 0;
        z-index: 1;
        position: fixed;
        top: 0;
        right: 0;
        background: url(/pic/background2.png) no-repeat;
        background-size: cover;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        float: none;
        margin: 0;
    }

    #header ul {
        display: block;
        position: static;
        min-height: 600px;
        margin: 0 0 0 75px;
    }

    #header .closeBtn {
        visibility: hidden;
        position: fixed;
        margin: 3% 0;
        right: 5%;
        font-size: 45px;
        z-index: 2;
        transition: 0.2s;
    }

    #header ul li {
        width: 80%;
        line-height: 30px;
        margin: 20px auto;
        display: block;
        font-size: 20pt;
        float: none;
        padding: 8px;
        overflow: hidden;
    }

    #header #menuIcon {
        right: 0;
        float: right;
        z-index: 2;
        visibility: visible;
        transition: 0.2s;
        margin: 25px;
    }

    #header #closeBtn.active {
        visibility: visible;
    }

    #header #menuIcon.active {
        visibility: hidden;
    }
}

@media screen and (max-width: 450px) {
    #header #menu.active {
        width: 100%;
    }

    #header ul li {
        width: 100%;
        box-sizing: border-box;
    }
}

/*HOMEPAGE*/
body.home {
    width: 100%;
    margin: 0 auto;
    display: table;
}

.home div.group::after {
    content: ' ';
    display: table;
    clear: both;
}

.home header {
    display: table;
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.home #main {
    max-width: 1170px;
    margin: 0 auto;
}

.home #logo {
    width: 20%;
    margin: 2% 0;
    display: inline-block;
    float: left;
}

.home #main h1 {
    font-size: 50pt;
    font-weight: 700;
}

.home #main p {
    font-size: 15pt;
    line-height: 1.6;
    margin: 50px 0;
}

.home #menu {
    height: 100%;
    width: 50%;
    z-index: 1;
    position: fixed;
    right: 0;
    background: url(/pic/background2.png) no-repeat;
    background-size: cover;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    float: none;
    top: -3px;
}

.home #menu.active {
    width: 50%;
}

.home #menu ul {
    list-style-type: none;
    position: absolute;
    top: 275px;
    left: 225px;
    min-height: 400px;
}

.home #menu ul li {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20pt;
    font-weight: 300;
    margin: 20px auto;
}

.home a {
    text-decoration: none;
    color: rgb(254, 254, 254);
}

.home .leftG {
    margin: 140px 0;
    width: 45%;
    float: left;
}

.home #menuIcon {
    position: absolute;
    right: 0;
    transition: 0.2s;
    visibility: hidden;
}

.home .closeBtn {
    position: fixed;
    z-index: 2;
    right: 0;
    color: rgb(251, 251, 251);
    font-size: 45pt;
    transition: 0.2s;
    visibility: hidden;
}

/*media queries*/

@media screen and (max-width: 1250px) {
    body.home {
        width: 100%;
        box-sizing: border-box;
    }

    .home header {
        width: 94%;
        margin: 0 3%;
    }

    .home #main {
        width: 94%;
        margin: 0 3%;
    }

    .home #menu ul {
        left: 150px;
    }
}

@media screen and (max-width: 1100px) {
    .home #main h1 {
        font-size: 40pt;
        font-weight: 700;
    }
}

@media screen and (max-width: 845px) {
    .home #menu.active {
        width: 65%;
    }

    .home header a {
        text-decoration: none;
        color: rgb(251, 251, 251);
    }

    .home #logo {
        margin: 25px;
        min-width: 150px;
    }

    .home #menu {
        width: 0;
    }

    .home #menu ul {
        display: block;
        position: static;
        margin: 0 0 0 75px;
    }

    .home header .closeBtn {
        visibility: hidden;
        position: fixed;
        margin: 3% 0;
        right: 5%;
        font-size: 45px;
        z-index: 2;
    }

    .home header ul li {
        width: 80%;
        line-height: 30px;
        margin: 20px 0;
        display: block;
        font-size: 25px;
        float: none;
        padding: 8px;
        overflow: hidden;
    }

    .home header #menuIcon {
        right: 0;
        float: right;
        z-index: 2;
        visibility: visible;
        margin: 25px;
    }

    .home header #closeBtn.active {
        visibility: visible;
    }

    .home header #menuIcon.active {
        visibility: hidden;
    }

    .home #main {
        width: 90%;
        margin: 0 5%;
        float: left;
    }

    .home .leftG {
        width: 100%;
        float: left;
        margin-top: 100px;
    }

    .home header {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 450px) {

    .home #main h1 {
        font-size: 35pt;
    }

    .home #menu.active {
        width: 100%;
    }
}

body.kontakt {
    width: 100%;
    margin: 0 auto;
    display: table;
}

.kontakt div.group::after {
    content: ' ';
    display: table;
    clear: both;
}

.kontakt header {
    display: table;
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.kontakt #main {
    max-width: 1170px;
    margin: 0 auto;
    display: table;
    width: 100%;
}

.kontakt #logo {
    width: 20%;
    margin: 2% 0;
    display: inline-block;
    float: left;
}

.kontakt a {
    text-decoration: none;
    color: rgb(254, 254, 254);
}

.kontakt #main article {
    width: 45%;
    margin: 140px 0 50px;
    float: left;
}

.kontakt #main article h1 {
    font-size: 50pt;
    font-weight: 700;
}

.kontakt #main article p {
    margin: 45px 0;
    font-size: 15pt;
    line-height: 1.6;
}

.kontakt #side {
    background: url(/pic/background2.png) no-repeat;
    width: 50%;
    height: 100%;
    background-size: cover;
    position: fixed;
    right: 0;
    top: 0;
}

.kontakt #side img {
    width: 100px;
}

.kontakt #side p {
    color: #fff;
    line-height: 1.6;
    font-size: 17pt;
    margin: 15px 0;
}

.kontakt #side article {
    margin: 250px 0 0 225px;
}

@media screen and (max-width: 1250px) {
    .kontakt #main {
        width: 94%;
        margin: 0 3%;
    }
    .kontakt #side article{
        margin: 250px 0 0 150px;
    }
}

@media screen and (max-width: 1100px) {
    .kontakt #main article h1 {
        font-size: 40pt;
    }
}
@media screen and (max-width: 845px) {
    .kontakt #side{
        position: static;
        width: 100%;
        background: linear-gradient(to bottom right, #00aae9, #0071BC);
        padding: 30px 0 102px;
    }
    .kontakt #side article{
        margin: auto;
        text-align: center;
    }
    .kontakt #main article{
        width: 100%;
        margin: 100px 0 50px;
    }
}
