<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700" rel="stylesheet">
    <script src="{{ asset('scripts/script.js') }}"></script>

        <title>{% block title %}{% endblock %}|wwwebfix.cz</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="" />
    </head>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

</html>
